# Flutter-related
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/GeneratedPluginRegistrant.*
**/flutter/generated_plugins.cmake

# Xcode-related
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
**/.xcode.env.local
**/xcuserdata/
**/*.xcodeproj/*
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/
**/dgph
.DS_Store

# CocoaPods
**/Pods/
Podfile.lock
*.xcconfig
.symlinks/

# Firebase
**/GoogleService-Info.plist